{% extends 'base/base.html' %}
{% load static %}

{% block page_content %}

    <div class="catalog-page main-view">
        <h2>Your Tasks, sire:</h2>

        <form action="{% url 'catalog' %}">
            <select name="sorting" id="">
                <option value="urgency-desc">Urgency desc</option>
                <option value="urgency-asc">Urgency asc</option>
            </select>
            <button type="submit">filter</button>
            {% csrf_token %}
        </form>

        <section class="tasks-container">
            <div class="tags-container">

                <h4>Tags by urgency level:</h4>
                <form class="tags-list">
                    <a href="{% url 'filter by urgency' urgency="low"%}">Low</a>
                    <a href="{% url 'filter by urgency' urgency="Medium"%}">Medium</a>
                    <a href="{% url 'filter by urgency' urgency="High"%}">High</a>
{#                    <input type="text" name="q" value="urgent">#}
                    <a href="{% url 'filter by urgency' urgency="Urgent"%}">Urgent</a>
                </form>
            </div>


            <div class="todo-list">
                {% for task in object_list %}

                    {#            {{ task }} <br>#}
                    {#            {{ task.user_id }} <br>#}
                    {#            {{ request.user.pk }} <br>#}
                    {% if task.user_id == request.user.pk and task.completed is False %}
                        <div class="todo">
                            <h5>{{ task.name }}</h5>
                            <p>{{ task.urgency_level }}</p>
                            <button>
                                <a href="{% url 'details' pk=task.pk %}">Details</a>
                            </button>

                        </div>

                    {% endif %}

                {% endfor %}

            </div>


        </section>
    </div>

    {#    <ul>#}
    {#        {% for task in object_list %}#}
    {##}
    {#            {{ task }} <br>#}
    {#            {{ task.user_id }} <br>#}
    {#            {{ request.user.pk }} <br>#}
    {#            {% if task.user_id == request.user.pk %}#}
    {#                <li>#}
    {#                    {{ task.name }} --> <a href="{% url 'details' pk=task.pk %}">Details</a>#}
    {#                </li>#}
    {#            {% endif %}#}
    {##}
    {#        {% endfor %}#}
    {#    </ul>#}

{% endblock %}