{% extends 'base/base.html' %}

{% block page_content %}

    <div class="home-page">
        <div class="home-image">
            <h3>
                Welcome to this glorious website!
            </h3>

            {% if request.user.is_authenticated %}
                <h4>Hello there, {{ user_name }}, nice to see you again</h4>
            {% else %}
                <h4><a href="{% url 'login' %}">Login</a> if you want to explore the wonderful worlds of Note-Taking!</h4>
            {% endif %}
        </div>
    </div>

{% endblock %}
