{% extends 'base/base.html' %}

{% block page_content %}

    <div class="home-page">
        <div class="home-image">
            <h3>
                Welcome to this glorious website!
            </h3>

            {% if request.user.is_authenticated %}
                <h4>Hello there, {{ user_name }}! <br> nice to see you again.</h4>
            {% else %}
                <h4>You want to explore the wonderful world of Note-Taking?
                <br>
                 Don't hesitate!
                <br>
                <a href="{% url 'login' %}">Login</a> / <a href="{% url 'register' %}">Register</a>
                </h4>
            {% endif %}
        </div>
    </div>

{% endblock %}
